body {
    background-color: rgb(22, 102, 22);
    margin: 0;
    font-family: helvetica;
    color: white;
}

.container {
 width: 90%;
 margin-left: auto;
 margin-right: auto;
 margin-top: 50px;
}
.table .container{
    width: 100%;
}

.title {
    background-color: rgb(28, 65, 28);
    color: white;
    display: inline-block;
    padding: 10px 20px;
    margin: 0;
    border-bottom-right-radius: 5px;
    margin-bottom: 15px;
    font-size: 25px;
    min-width: 300px;
    text-align: center;
}
hr{
    margin: 0;
    border: solid 1px rgb(28, 65, 28);
}
.profile{
    width: 50%;
}

.profile img{
    width: 200px;
    float: left;
    margin-right: 15px;
}
.table-container td{
    vertical-align: top;
    padding: 15px;
}
.skill .content{
    background-color: white;
    color: gray;
    padding: 10px;
    border-radius: 5px;
}
.skill ul{
    margin: 0;
    list-style: none;
}
.skill li{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px gray;

}
.skill .level{
    background-color: green;
    color: white;
    padding: 5px;
    text-align: center;
    margin-top: 15px;
}
.table{
    margin-top: 15px;
    border-collapse: collapse;
    width: 100%;
}

.table th {
    background-color:green;
    padding: 10px 15px;
}
.table td{
    padding: 10px 15px;
    color: rgb(68, 48, 48);
}
.table tr:nth-child(even){
    background-color: white;
}
.table tr:nth-child(odd){
    background-color: grey;
}

